@{
    ViewData["Title"] = "Post";
}
<h1>@ViewData["Title"]</h1>

<button id="PostDataButton">Envoyer</button>

<script>
    document.getElementById("PostDataButton").addEventListener("click", function() {
        var book = {
            "Title": "Titre du livre",
            "Author": "Auteur du livre",
            "Genre": "Genre du livre",
            "Price": 9.99,
            "PublishDate": "2022-01-01",
            "Description": "Description du livre",
            "Remarks": "Remarques sur le livre"
        };

        fetch("http://localhost:5123/api/Book", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(book)
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            // Traiter la réponse de la requête POST ici
        })
        .catch(error => {
            console.error(error);
            // Gérer les erreurs de la requête POST ici
        });
    });
</script>


