@{
    ViewData["Title"] = "Put";
}
<h1>@ViewData["Title"]</h1>


<!-- GetApi.cshtml -->

@{
    ViewData["Title"] = "Put";
}
<h1>@ViewData["Title"]</h1>

<!-- Champs d'entrée pour les données -->
<input type="text" id="inputId" placeholder="ID">
<input type="text" id="inputTitle" placeholder="Titre">
<input type="text" id="inputAuthor" placeholder="Auteur">
<input type="text" id="inputGenre" placeholder="Genre">
<input type="text" id="inputPrice" placeholder="Prix">
<input type="text" id="inputPublishDate" placeholder="Date de publication">
<input type="text" id="inputDescription" placeholder="Description">
<input type="text" id="inputRemarks" placeholder="Remarques">
<!-- Ajoutez d'autres champs d'entrée selon vos besoins -->

<button id="putDataButton">Insérer les données</button>
<div id="dataContainer"></div>

<script>
    document.getElementById("putDataButton").addEventListener("click", function () {
        sendData();
    });

    function sendData() {
        var data = {
            id: document.getElementById("inputId").value,
            tittle: document.getElementById("inputTitle").value,
            author: document.getElementById("inputAuthor").value,
            genre: document.getElementById("inputGenre").value,
            price: document.getElementById("inputPrice").value,
            publishDate: document.getElementById("inputPublishDate").value,
            description: document.getElementById("inputDescription").value,
            remarks: document.getElementById("inputRemarks").value
            // Ajoutez d'autres champs selon vos besoins
        };

        fetch("http://localhost:5123/api/Book", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(result => {
            // Traitez la réponse de l'API ici
            console.log(result);
        })
        .catch(error => console.error('Erreur lors de la requête PUT:', error));
    }
</script>
